@{
}

<h1>Här skapar du receptet.</h1>
<form action="/Recipe/Create" method="post">
<input type="text" name="Name" placeholder="Receptets namn" />
<textarea name="Description" placeholder="Kort beskrivning om receptet"></textarea>
    <button>Spara</button>
</form>